@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
/*  white : rgb(255,255,255);
    gray : rgb(200,200,200);
    light blue : rgb(120, 230, 255);
    blue gray : rpb(150,, 190, 220);
    dark gray : rgb(105,105,105); */


/* DARKMODE SWITCH */
*
{
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
    box-sizing: border-box;
}


.dark-mode
{
   
    background-color: rgb(105,105,105);
    color: white;
}

nav
{
    background: linear-gradient(to right, #009688, #003c36);
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: white;
    font-size: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


.User-Picture
{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

nav ul
{
    width: 100%;
    text-align: right;
}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a
{
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    padding: 1vw;
    border-radius: 5px;
}

nav ul li a:hover
{
    background-color: #75E6DA;
    box-shadow: 0 0 6px rgba(255,255,255, .2);
}

.content
{
    position: relative;
    display: block;
    width: 60vw;
    height: 70vh;
    margin: auto;
    margin-top: 5%;
    border: none;
    background: #009688;
    border-radius: 10px;
}

table
{
    border: 2px solid black;
    margin: auto;
    position: relative;
    width: 60vw;
    height: 70vh;
    text-align: center;
    padding-top: 15px;
    border-collapse: seperate;
    border-radius: 10px;
}

th
{
    word-spacing: 2px;
    color: white;
    font-size: 18px;
    margin-right: 8vw;
    display: inline-block;
}

#search-bar
{
    margin: auto;
    position: relative;
    border-radius: 5px;
    display: flex;
    position: relative;
    margin-top: 8vh;
    margin-bottom: -8vh;
    width: 20vw;
    height: 4vh;
    padding: 10px;
}

td
{
    font-size: 20px;
    color: white;
}
