body
{
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../images/northern_lights_2.jpg);
  /*background-image: url(../images/northern_lights_1.jpg);*/
  background-size: cover;
  background-position: center;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../images/northern_lights_2.jpg);
    /*background-image: url(../images/northern_lights_1.jpg);*/
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar h1{
    color: #fff;
}



.column {
  float: left;
  width: 33.3%;
  margin-bottom: 50px;
  padding: 0 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
    background-color: aliceblue;
    border-radius: 25px;
    
}



.container {
  padding: 0 16px;
  padding-top: 8px;
    text-align: center;

}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;

    
}

.title {
  color: grey;
}

.row {
    padding-top: 100px;
}

.row2 {
    padding-top: 100px;
    margin: auto;
    
}

.button {
  cursor: auto;
  text-decoration: none;
  color: aliceblue;
  background-color: transparent;
  border: none;
  
}



@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
